#GanttDiv table,
#GanttDiv tr,
#GanttDiv td,
#GanttDivFullscreen table,
#GanttDivFullscreen tr,
#GanttDivFullscreen td {
	border: none;
	margin: 0;
	padding: 0;
	max-width: none;
}

#GanttDiv img,
#GanttDivFullscreen img {
	max-width: none;
}

#GanttDivFullscreen {
	height: 95%;
	width: 100%;
	padding:0px;
	margin:0px;
	overflow: hidden;
}

.gantt-fullscreen {
	background: #fff;
	cursor: pointer;
	display: block;
	position: absolute;
}

.views-gantt-hidden {
	display: none;
}

body.views-gantt-full {
	background: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.controls_bar {
	border-top:1px solid #bababa;
	border-bottom:1px solid #bababa;
	clear:both;
	height:28px;
	background:#f1f1f1;
	color:#494949;
	font-family:Arial, sans-serif;
	font-size:13px;
	padding-left:10px;
	line-height:25px
}

.controls_bar input[type="radio"] {
	margin: 0 4px 0 6px;
	vertical-align: middle;
	-webkit-appearance: radio;
	box-sizing: border-box;
}

.controls_bar span {
	vertical-align: middle;
}

.controls_bar label {
	display: inline;
	font-weight: normal;
}

.project{
	background:#3C9445;
	border-color: #3C9445;
}

.project .gantt_task_progress{
	background:#65C16F;
	box-shadow: none;
	border:none;
}

.dhtmlx_message_area {
	display: none;
}
